* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
    padding-top: 80px;
}

.home-container {
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.home-hero {
    color: #67595e;
    font-weight: bold;
    padding: 100px 50px;
    background-color: #e8b4b8;
    background-image: url("../images/background.jpg");
    background-size: cover;
    width: 100%;
}

.project-container {
    background-color: #eed6d3;
    width: 100%;
    padding: 40px 0;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 40px;
}

.home-hero h1 {
  font-size: 2.5rem;
}

.home-hero button {
  background-color: white;
  border: none;
  text-align: center;
  padding: 15px;
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-hero button a {
  text-decoration: none;
  color: #e8b4b8;
}

.project-container h2 {
  padding: 20px;
  color: #67595e;
  margin: 2px;
}
